# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 28

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(17366, 286)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,3.947368,15,3.8,17.783654,4.505192,6.986341,6.986341,6.986341,6.986341
568,Telles,7.096774,22,3.1,25.355899,3.572877,NaN,6.703519,3.001173,NaN
104,Alonso,9.069767,39,4.3,41.886628,4.618269,7.325246,6.339835,6.339835,6.339835
302,Fernandes,29.027778,209,7.2,188.318477,6.487526,5.717511,6.126737,6.814665,6.903760
4,Aubameyang,23.111111,104,4.5,105.826801,4.579044,6.543291,5.844855,5.590151,5.058411
271,Gündogan,22.903226,142,6.2,125.729978,5.489619,5.148810,5.786121,5.640484,5.626690
245,Adrián,2.972973,11,3.7,10.484312,3.526541,5.730734,5.730734,5.730734,5.730734
388,Kane,25.915493,184,7.1,164.440363,6.345253,5.669984,5.713323,5.837510,5.473805
102,Azpilicueta,19.019608,97,5.1,83.684174,4.399890,5.598033,5.643837,5.215930,5.215930
437,Antonio,19.069767,82,4.3,84.295468,4.420372,4.600000,5.419418,4.682848,4.399552
224,Vardy,24.915254,147,5.9,146.521873,5.880810,6.180317,5.386878,5.255526,5.364940
67,Veltman,21.666667,65,3.0,79.730653,3.679876,5.689619,5.383733,4.333445,3.656840
239,Justin,22.954545,101,4.4,90.939656,3.961728,NaN,5.376258,4.915127,4.468390
235,Barnes,25.200000,126,5.0,106.161467,4.212757,6.511535,5.304783,4.843575,4.236137
62,Dunk,25.000000,95,3.8,94.266138,3.770646,4.869619,5.234884,4.614360,4.429679
570,Raphinha,23.023256,99,4.3,98.765429,4.289812,4.829806,5.175349,4.931367,4.819418
435,Cresswell,28.125000,135,4.8,126.133978,4.484764,5.379559,5.106931,5.086998,4.690490
70,Ryan,12.083333,29,2.4,36.033248,2.982062,NaN,5.090127,5.090127,3.694198
231,Maddison,22.884615,119,5.2,89.953814,3.930755,5.225381,5.079857,4.902288,4.743573
458,Boly,17.142857,60,3.5,60.302822,3.517665,3.204777,4.992811,4.992811,3.884029

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)