# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 29

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(18052, 293)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,3.947368,15,3.8,17.783654,4.505192,NaN,6.986341,6.986341,6.986341
568,Telles,7.096774,22,3.1,25.372254,3.575181,NaN,6.703519,3.851759,3.775163
302,Fernandes,29.027778,209,7.2,188.416604,6.490907,5.894438,6.405126,6.538698,6.611138
104,Alonso,9.069767,39,4.3,41.886628,4.618269,7.744698,6.339835,6.339835,6.339835
233,Iheanacho,16.176471,55,3.4,54.020000,3.339418,8.000000,6.183333,4.877778,3.761538
239,Justin,22.954545,101,4.4,90.956010,3.962440,NaN,5.912491,4.835532,4.780497
102,Azpilicueta,19.019608,97,5.1,83.392352,4.384546,5.800372,5.904087,5.199761,5.215930
245,Adrián,2.972973,11,3.7,10.508425,3.534652,5.730734,5.730734,5.730734,5.730734
570,Raphinha,23.777778,107,4.5,105.382961,4.431994,5.167383,5.600488,4.964376,4.900246
388,Kane,26.901408,191,7.1,171.066667,6.359023,6.369984,5.579990,6.068279,5.717255
67,Veltman,22.727273,75,3.3,86.431865,3.803002,5.539838,5.579593,4.850830,4.030508
224,Vardy,24.915254,147,5.9,145.920000,5.856653,5.496380,5.497414,4.801586,5.368760
506,Wilson,21.090909,116,5.5,103.720000,4.917759,NaN,5.449115,3.744051,4.337923
271,Gündogan,22.903226,142,6.2,125.789216,5.492205,3.902553,5.438412,5.822745,5.626690
231,Maddison,22.884615,119,5.2,90.011054,3.933256,5.301194,5.389493,4.999230,4.831496
437,Antonio,19.777778,89,4.5,92.833333,4.693820,5.382667,5.367501,4.977501,4.693394
87,Barnes,17.777778,48,2.7,57.220000,3.218625,NaN,5.366667,4.012500,3.423077
548,Mendy,24.042553,113,4.7,98.317746,4.089322,5.360372,5.350503,4.392884,4.323801
235,Barnes,25.200000,126,5.0,106.202353,4.214379,5.393813,5.220834,4.986134,4.249350
490,Thiago Silva,17.111111,77,4.5,67.805884,3.962682,NaN,5.142041,3.269376,3.703123

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)