# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 31

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(19430, 307)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
239,Justin,22.954545,101,4.4,90.145887,3.927148,NaN,8.796761,5.218925,4.954480
112,Arrizabalaga,3.947368,15,3.8,17.716081,4.488074,NaN,6.986341,6.986341,6.986341
302,Fernandes,30.857143,216,7.0,196.445521,6.366290,5.319109,6.292896,5.916631,6.214156
388,Kane,29.014085,206,7.1,184.515821,6.359526,7.343981,6.261991,6.420545,5.893757
91,Wood,25.789474,98,3.8,108.640896,4.212606,7.629446,5.786297,4.374344,4.457361
233,Iheanacho,17.948718,70,3.9,62.820000,3.499971,7.675000,5.737500,4.790000,4.253846
245,Adrián,2.972973,11,3.7,10.640008,3.578912,NaN,5.730734,5.730734,5.730734
120,Mount,30.000000,129,4.3,132.843240,4.428108,4.883927,5.501705,4.982298,4.617096
570,Raphinha,26.136364,115,4.4,115.452304,4.417306,5.094117,5.418386,5.108148,4.993714
87,Barnes,17.777778,48,2.7,57.220000,3.218625,NaN,5.366667,4.516667,3.736364
254,Salah,30.000000,189,6.3,178.444538,5.948151,6.232640,5.339684,5.168835,5.321559
417,Johnstone,29.743590,116,3.9,112.745103,3.790568,6.657860,5.331690,4.341162,4.026758
164,Calvert-Lewin,26.037736,138,5.3,124.462687,4.780089,4.866667,5.197077,4.488783,4.204288
235,Barnes,25.200000,126,5.0,105.996840,4.206224,NaN,5.146597,5.306178,4.412641
271,Gündogan,23.833333,143,6.0,127.524362,5.350673,3.910066,5.129488,5.420024,5.612115
274,Mendy,10.000000,48,4.8,41.118352,4.111835,5.101956,5.101956,5.101956,5.017821
104,Alonso,10.000000,42,4.2,44.724519,4.472452,6.315901,5.101257,5.729648,5.729648
70,Ryan,12.083333,29,2.4,35.371085,2.927262,NaN,5.090127,5.090127,3.910431
102,Azpilicueta,21.063830,99,4.7,88.848599,4.218065,5.181379,5.025086,5.017619,4.953696
62,Dunk,28.205128,110,3.9,108.107952,3.832918,4.675842,5.020937,4.800097,4.665983

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)