In [1]:
# recent gameweek
latest_gameweek = 38

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3,8,3,0
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0,6,2,1
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3,11,3,4
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2,19,2,0
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3,18,4,0
5,2128291,1,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1,17,4,0
6,2128295,1,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2,15,2,0
7,2128294,1,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3,3,4,1
8,2128299,2,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2,7,2,5
9,2128300,2,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3,10,2,4
10,2128302,2,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3,13,2,1
11,2128296,2,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1,1,4,2
12,2128304,2,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5,16,3,2
13,2128303,2,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3,14,3,0
14,2128298,2,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2,5,4,0
15,2128301,2,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2,9,2,4
16,2128297,2,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0,2,2,1
17,2128305,2,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3,20,4,1
18,2128306,3,True,True,19,2020-09-26T11:30:00Z,90,False,58916,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",13,3,3,3,4,2
19,2128308,3,True,True,21,2020-09-26T14:00:00Z,90,False,58918,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,3,2,6,4,1

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,
Manchester City,1,38,27,5,6,83,32,51,86,73.3,31.4,42.0,1.10,526,İlkay Gündoğan - 13,Ederson,→ UEFA Champions League via league finish,1.928947,0.826316,0.437659
Manchester Utd,2,38,21,11,6,73,44,29,74,60.2,42.2,18.0,0.47,526,Bruno Fernandes - 18,David de Gea,→ UEFA Champions League via league finish,1.584211,1.110526,0.329386
Liverpool,3,38,20,9,9,68,42,26,69,72.6,45.3,27.3,0.72,837,Mohamed Salah - 22,Alisson,→ UEFA Champions League via league finish,1.910526,1.192105,0.303581
Chelsea,4,38,19,10,9,58,36,22,67,64.0,32.8,31.2,0.82,526,Jorginho - 7,Edouard Mendy,→ UEFA Champions League via league finish,1.684211,0.863158,0.421828
Leicester City,5,38,20,6,12,68,50,18,66,56.0,47.7,8.3,0.22,421,Jamie Vardy - 15,Kasper Schmeichel,→ UEFA Europa League via cup win,1.473684,1.255263,0.285001
West Ham,6,38,19,8,11,62,47,15,65,53.9,48.3,5.6,0.15,632,Tomáš Souček Michail Antonio - 10,Łukasz Fabiański,→ UEFA Europa League via league finish,1.418421,1.271053,0.280536
Tottenham,7,38,18,8,12,68,45,23,62,54.6,49.5,5.0,0.13,632,Harry Kane - 23,Hugo Lloris,→ UEFA Europa Conference League via league fin...,1.436842,1.302632,0.271816
Arsenal,8,38,18,7,13,55,39,16,61,53.5,44.3,9.2,0.24,632,Alexandre Lacazette - 13,Bernd Leno,NaN,1.407895,1.165789,0.311677
Leeds United,9,38,18,5,15,62,54,8,59,57.5,62.9,-5.4,-0.14,421,Patrick Bamford - 17,Illan Meslier,NaN,1.513158,1.655263,0.191042
Everton,10,38,17,8,13,47,48,-1,59,47.2,51.2,-4.1,-0.11,368,Dominic Calvert-Lewin - 16,Jordan Pickford,NaN,1.242105,1.347368,0.259923
Aston Villa,11,38,16,7,15,55,46,9,55,53.0,52.9,0.2,0.00,526,Ollie Watkins - 14,Emiliano Martínez,NaN,1.394737,1.392105,0.248551
Newcastle Utd,12,38,12,9,17,46,62,-16,45,41.0,54.0,-13.0,-0.34,526,Callum Wilson - 12,Karl Darlow,NaN,1.078947,1.421053,0.241460
Wolves,13,38,12,9,17,36,52,-16,45,39.9,45.9,-6.0,-0.16,237,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.050000,1.207895,0.298826
Crystal Palace,14,38,12,8,18,41,66,-25,44,32.4,57.5,-25.1,-0.66,447,Wilfried Zaha - 11,Vicente Guaita,NaN,0.852632,1.513158,0.220213
Southampton,15,38,12,7,19,47,68,-21,43,42.4,54.2,-11.8,-0.31,526,Danny Ings - 12,Alex McCarthy,NaN,1.115789,1.426316,0.240192
Brighton,16,38,9,14,15,40,46,-6,41,51.6,37.7,13.9,0.37,523,Neal Maupay - 8,Robert Sánchez,NaN,1.357895,0.992105,0.370795
Burnley,17,38,10,9,19,33,55,-22,39,39.9,57.6,-17.7,-0.47,178,Chris Wood - 12,Nick Pope,NaN,1.050000,1.515789,0.219635
Fulham,18,38,5,13,20,27,53,-26,28,40.5,53.0,-12.5,-0.33,211,Bobby Reid - 5,Alphonse Areola,Relegated,1.065789,1.394737,0.247898
West Brom,19,38,5,11,22,35,76,-41,26,33.8,67.7,-34.0,-0.89,283,Matheus Pereira - 11,Sam Johnstone,Relegated,0.889474,1.781579,0.168372
Sheffield Utd,20,38,7,2,29,20,63,-43,23,31.4,62.4,-31.0,-0.82,263,David McGoldrick - 8,Aaron Ramsdale,Relegated,0.826316,1.642105,0.193572

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week34,assists_week35,assists_week36,assists_week37,assists_week38,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,...,xG_week35,xG_week36,xG_week37,xG_week38,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 34,xPoints week 35,xPoints week 36,xPoints week 37,xPoints week 38,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,55.157473,2.690608,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,230,100.0,50.0,25.557473,3,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,1.6000,NaN,NaN,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,133.826399,4.597090,3,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,358,100.0,100.0,9.073249,10,1.0,0.0,0.0,...,0.0,NaN,0.2,0.2,0.0,0.0,0.3,0.9,0.0,0.3,4.340818,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,10.5184,4.62884,NaN,3.332871,4.340818,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,34.138110,3.413811,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.467060,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.928947  0.826316     1.457299
Manchester Utd   1.584211  1.110526     1.196854
Liverpool        1.910526  1.192105     1.443382
Chelsea          1.684211  0.863158     1.272403
Leicester City   1.473684  1.255263     1.113353
West Ham         1.418421  1.271053     1.071602
Tottenham        1.436842  1.302632     1.085519
Arsenal          1.407895  1.165789     1.063649
Leeds United     1.513158  1.655263     1.143174
Everton          1.242105  1.347368     0.938397
Aston Villa      1.394737  1.392105     1.053709
Newcastle Utd    1.078947  1.421053     0.815133
Wolves           1.050000  1.207895     0.793264
Crystal Palace   0.852632  1.513158     0.644154
Southampton      1.115789  1.426316     0.842967
Brighton         1.357895  0.992105     1.025875
Burnley          1.050000  1.515789     0.793264
Fulham           1.065789  1.394737     0.805192
West Brom        0.889474  1.781579     0.671988
Sheffield Utd    0.826316  1.642105     0.624273

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      0         0          0          NaN           NaN
Manchester Utd       0         0          0          NaN           NaN
Liverpool            0         0          0          NaN           NaN
Chelsea              0         0          0          NaN           NaN
Leicester City       0         0          0          NaN           NaN
West Ham             0         0          0          NaN           NaN
Tottenham            0         0          0          NaN           NaN
Arsenal              0         0          0          NaN           NaN
Leeds United         0         0          0          NaN           NaN
Everton              0         0          0          NaN           NaN
Aston Villa          0         0          0          NaN           NaN
Newcastle Utd        0         0          0          NaN           NaN
Wolves               0         0          0          NaN           NaN
Crystal Palace       0         0          0          NaN           NaN
Southampton          0         0          0          NaN           NaN
Brighton             0         0          0          NaN           NaN
Burnley              0         0          0          NaN           NaN
Fulham               0         0          0          NaN           NaN
West Brom            0         0          0          NaN           NaN
Sheffield Utd        0         0          0          NaN           NaN

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.928947  0.826316     1.457299                     NaN
Manchester Utd   1.584211  1.110526     1.196854                     NaN
Liverpool        1.910526  1.192105     1.443382                     NaN
Chelsea          1.684211  0.863158     1.272403                     NaN
Leicester City   1.473684  1.255263     1.113353                     NaN
West Ham         1.418421  1.271053     1.071602                     NaN
Tottenham        1.436842  1.302632     1.085519                     NaN
Arsenal          1.407895  1.165789     1.063649                     NaN
Leeds United     1.513158  1.655263     1.143174                     NaN
Everton          1.242105  1.347368     0.938397                     NaN
Aston Villa      1.394737  1.392105     1.053709                     NaN
Newcastle Utd    1.078947  1.421053     0.815133                     NaN
Wolves           1.050000  1.207895     0.793264                     NaN
Crystal Palace   0.852632  1.513158     0.644154                     NaN
Southampton      1.115789  1.426316     0.842967                     NaN
Brighton         1.357895  0.992105     1.025875                     NaN
Burnley          1.050000  1.515789     0.793264                     NaN
Fulham           1.065789  1.394737     0.805192                     NaN
West Brom        0.889474  1.781579     0.671988                     NaN
Sheffield Utd    0.826316  1.642105     0.624273                     NaN

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      0         0          0          NaN           NaN
Manchester Utd       0         0          0          NaN           NaN
Liverpool            0         0          0          NaN           NaN
Chelsea              0         0          0          NaN           NaN
Leicester City       0         0          0          NaN           NaN
West Ham             0         0          0          NaN           NaN
Tottenham            0         0          0          NaN           NaN
Arsenal              0         0          0          NaN           NaN
Leeds United         0         0          0          NaN           NaN
Everton              0         0          0          NaN           NaN
Aston Villa          0         0          0          NaN           NaN
Newcastle Utd        0         0          0          NaN           NaN
Wolves               0         0          0          NaN           NaN
Crystal Palace       0         0          0          NaN           NaN
Southampton          0         0          0          NaN           NaN
Brighton             0         0          0          NaN           NaN
Burnley              0         0          0          NaN           NaN
Fulham               0         0          0          NaN           NaN
West Brom            0         0          0          NaN           NaN
Sheffield Utd        0         0          0          NaN           NaN

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.928947,0.826316,1.457299,NaN,NaN
Manchester Utd,1.584211,1.110526,1.196854,NaN,NaN
Liverpool,1.910526,1.192105,1.443382,NaN,NaN
Chelsea,1.684211,0.863158,1.272403,NaN,NaN
Leicester City,1.473684,1.255263,1.113353,NaN,NaN
West Ham,1.418421,1.271053,1.071602,NaN,NaN
Tottenham,1.436842,1.302632,1.085519,NaN,NaN
Arsenal,1.407895,1.165789,1.063649,NaN,NaN
Leeds United,1.513158,1.655263,1.143174,NaN,NaN
Everton,1.242105,1.347368,0.938397,NaN,NaN
Aston Villa,1.394737,1.392105,1.053709,NaN,NaN
Newcastle Utd,1.078947,1.421053,0.815133,NaN,NaN
Wolves,1.050000,1.207895,0.793264,NaN,NaN
Crystal Palace,0.852632,1.513158,0.644154,NaN,NaN
Southampton,1.115789,1.426316,0.842967,NaN,NaN
Brighton,1.357895,0.992105,1.025875,NaN,NaN
Burnley,1.050000,1.515789,0.793264,NaN,NaN
Fulham,1.065789,1.394737,0.805192,NaN,NaN
West Brom,0.889474,1.781579,0.671988,NaN,NaN
Sheffield Utd,0.826316,1.642105,0.624273,NaN,NaN

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      0         0          0          NaN           NaN
Manchester Utd       0         0          0          NaN           NaN
Liverpool            0         0          0          NaN           NaN
Chelsea              0         0          0          NaN           NaN
Leicester City       0         0          0          NaN           NaN
West Ham             0         0          0          NaN           NaN
Tottenham            0         0          0          NaN           NaN
Arsenal              0         0          0          NaN           NaN
Leeds United         0         0          0          NaN           NaN
Everton              0         0          0          NaN           NaN
Aston Villa          0         0          0          NaN           NaN
Newcastle Utd        0         0          0          NaN           NaN
Wolves               0         0          0          NaN           NaN
Crystal Palace       0         0          0          NaN           NaN
Southampton          0         0          0          NaN           NaN
Brighton             0         0          0          NaN           NaN
Burnley              0         0          0          NaN           NaN
Fulham               0         0          0          NaN           NaN
West Brom            0         0          0          NaN           NaN
Sheffield Utd        0         0          0          NaN           NaN

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.928947,0.826316,1.457299,NaN,NaN,NaN
Manchester Utd,1.584211,1.110526,1.196854,NaN,NaN,NaN
Liverpool,1.910526,1.192105,1.443382,NaN,NaN,NaN
Chelsea,1.684211,0.863158,1.272403,NaN,NaN,NaN
Leicester City,1.473684,1.255263,1.113353,NaN,NaN,NaN
West Ham,1.418421,1.271053,1.071602,NaN,NaN,NaN
Tottenham,1.436842,1.302632,1.085519,NaN,NaN,NaN
Arsenal,1.407895,1.165789,1.063649,NaN,NaN,NaN
Leeds United,1.513158,1.655263,1.143174,NaN,NaN,NaN
Everton,1.242105,1.347368,0.938397,NaN,NaN,NaN
Aston Villa,1.394737,1.392105,1.053709,NaN,NaN,NaN
Newcastle Utd,1.078947,1.421053,0.815133,NaN,NaN,NaN
Wolves,1.050000,1.207895,0.793264,NaN,NaN,NaN
Crystal Palace,0.852632,1.513158,0.644154,NaN,NaN,NaN
Southampton,1.115789,1.426316,0.842967,NaN,NaN,NaN
Brighton,1.357895,0.992105,1.025875,NaN,NaN,NaN
Burnley,1.050000,1.515789,0.793264,NaN,NaN,NaN
Fulham,1.065789,1.394737,0.805192,NaN,NaN,NaN
West Brom,0.889474,1.781579,0.671988,NaN,NaN,NaN
Sheffield Utd,0.826316,1.642105,0.624273,NaN,NaN,NaN

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
1,Özil,Arsenal,67,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
2,Sokratis,Arsenal,48,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
3,David Luiz,Arsenal,54,20.500000,41,55.157473,2.0,2.690608,NaN,NaN,NaN
4,Aubameyang,Arsenal,113,29.111111,131,133.826399,4.5,4.597090,NaN,NaN,NaN
5,Cédric,Arsenal,46,10.000000,28,34.138110,2.8,3.413811,NaN,NaN,NaN
6,Lacazette,Arsenal,84,30.714286,129,115.773149,4.2,3.769358,NaN,NaN,NaN
7,Mustafi,Arsenal,50,3.000000,3,6.740118,1.0,2.246706,NaN,NaN,NaN
8,Leno,Arsenal,50,35.405405,131,131.140132,3.7,3.703958,NaN,NaN,NaN
9,Xhaka,Arsenal,52,30.434783,70,68.827906,2.3,2.261488,NaN,NaN,NaN
10,Marí,Arsenal,44,10.000000,34,30.467060,3.4,3.046706,NaN,NaN,NaN
11,Bellerín,Arsenal,50,24.736842,94,96.152719,3.8,3.887025,NaN,NaN,NaN
13,Chambers,Arsenal,45,10.000000,36,40.680209,3.6,4.068021,NaN,NaN,NaN
14,Kolasinac,Arsenal,48,1.000000,2,3.246706,2.0,3.246706,NaN,NaN,NaN
16,Holding,Arsenal,43,30.000000,105,103.372230,3.5,3.445741,NaN,NaN,NaN
17,Tierney,Arsenal,52,26.666667,96,97.029693,3.6,3.638613,NaN,NaN,NaN
18,Pépé,Arsenal,77,29.230769,114,99.643693,3.9,3.408863,NaN,NaN,NaN
19,Torreira,Arsenal,47,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
21,Nelson,Arsenal,51,2.000000,2,2.623353,1.0,1.311677,NaN,NaN,NaN
22,Nketiah,Arsenal,53,17.142857,36,37.771050,2.1,2.203311,NaN,NaN,NaN
23,Smith Rowe,Arsenal,42,20.000000,74,69.088779,3.7,3.454439,NaN,NaN,NaN
24,Saka,Arsenal,51,31.666667,114,128.325005,3.6,4.052369,NaN,NaN,NaN
25,Guendouzi,Arsenal,47,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
26,Martinelli,Arsenal,49,13.846154,36,47.386571,2.6,3.422363,NaN,NaN,NaN
27,Saliba,Arsenal,40,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
70,Ryan,Arsenal,41,14.230769,37,42.741586,2.6,3.003463,NaN,NaN,NaN
478,Willian,Arsenal,75,25.161290,78,80.239531,3.1,3.189007,NaN,NaN,NaN
494,Gabriel,Arsenal,49,22.941176,78,76.900903,3.4,3.352091,NaN,NaN,NaN
501,Ceballos,Arsenal,47,24.800000,62,67.013776,2.5,2.702168,NaN,NaN,NaN
526,Elneny,Arsenal,42,22.727273,50,50.183557,2.2,2.208077,NaN,NaN,NaN
527,Macey,Arsenal,40,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
547,Rúnarsson,Arsenal,44,1.000000,1,2.246706,1.0,2.246706,NaN,NaN,NaN
567,Partey,Arsenal,49,23.500000,47,53.366497,2.0,2.270915,NaN,NaN,NaN
645,Ødegaard,Arsenal,56,13.793103,40,43.641086,2.9,3.163979,NaN,NaN,NaN
689,Azeez,Arsenal,45,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
12,Martínez,Aston Villa,53,37.959184,186,164.339246,4.9,4.329367,NaN,NaN,NaN
28,Heaton,Aston Villa,45,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
29,El Mohamady,Aston Villa,42,13.750000,33,39.470332,2.4,2.870570,NaN,NaN,NaN
30,Lansbury,Aston Villa,43,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
31,Taylor,Aston Villa,42,1.000000,-1,-0.005794,-1.0,-0.005794,NaN,NaN,NaN
32,Steer,Aston Villa,39,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
33,Hourihane,Aston Villa,59,4.000000,20,16.665256,5.0,4.166314,NaN,NaN,NaN
34,Jota,Aston Villa,59,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
35,Nyland,Aston Villa,40,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
36,Engels,Aston Villa,44,NaN,0,NaN,0.0,NaN,NaN,NaN,NaN
37,Grealish,Aston Villa,75,25.961538,135,120.005376,5.2,4.622429,NaN,NaN,NaN
38,McGinn,Aston Villa,55,36.774194,114,98.537629,3.1,2.679532,NaN,NaN,NaN
39,Hause,Aston Villa,44,6.956522,32,28.116215,4.6,4.041706,NaN,NaN,NaN
40,Trézéguet,Aston Villa,52,20.740741,56,67.926192,2.7,3.275013,NaN,NaN,NaN
41,Mings,Aston Villa,54,35.555556,128,104.091644,3.6,2.927577,NaN,NaN,NaN
42,Targett,Aston Villa,50,38.333333,138,113.695427,3.6,2.965968,NaN,NaN,NaN

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)