TO DO
- add/edit code to handle double gameweeks (creating df assumes number of games in a gameweek <=1)

In [1]:
gameweek = 7

In [2]:
import pandas as pd
import numpy as np
import json

In [3]:
projections = pd.read_csv(f'../../point_projections/collective_xP_projections_week{gameweek}.csv', index_col=0)
projections

,name,team,opp_team,was_home,gameweek,xP,std
0,Granit Xhaka,Arsenal,Brentford,0,8,2.628185,0.080331
1,Granit Xhaka,Arsenal,Tottenham,1,9,2.684030,0.190082
2,Granit Xhaka,Arsenal,Liverpool,1,10,2.558682,0.113725
3,Granit Xhaka,Arsenal,Leeds United,0,11,2.802852,0.132349
4,Granit Xhaka,Arsenal,Manchester City,1,12,2.425850,0.090341
...,...,...,...,...,...,...,...
4674,Sasa Kalajdzic,Wolves,Leicester City,1,13,2.826009,0.871261
4675,Sasa Kalajdzic,Wolves,Brentford,0,14,2.457500,0.589254
4676,Sasa Kalajdzic,Wolves,Brighton,1,15,2.668573,0.833091
4677,Sasa Kalajdzic,Wolves,Arsenal,1,16,2.532438,0.847797
4678,Sasa Kalajdzic,Wolves,Everton,0,17,2.807769,0.657468

In [4]:
# fetch player_dict 
with open('../../data/player_name_dict.txt', 'r') as f:
    player_name_dict_as_text = f.read()
    player_name_dict = json.loads(player_name_dict_as_text)

In [5]:
latest_fpl = pd.read_csv(f'../../data/fpl_data/fpl_week_{gameweek}.csv', index_col=0)
latest_fpl['name'] = latest_fpl['name'].map(player_name_dict).fillna(latest_fpl['name'])
# drop Liverpool's Ben Davies
latest_fpl = latest_fpl.drop(latest_fpl[(latest_fpl['name']=='Ben Davies') & (latest_fpl['team']=='Liverpool')].index)
latest_fpl

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,season,name,position,GW,value,selected,transfers_balance,opp_team_name,kickoff_time,was_home
0,NaN,NaN,58822,0,0,-3,3,0,2,0.5,...,2022-23,Cedric Alves Soares,DEF,7,4.2,20787.052,-78,NaN,NaN,NaN
1,NaN,NaN,84450,0,0,0,0,1,3,3.5,...,2022-23,Granit Xhaka,MID,7,5.0,301412.254,-1097,NaN,NaN,NaN
2,0.0,0.0,153256,0,0,-2,2,1,3,0.0,...,2022-23,Mohamed Elneny,MID,7,4.3,83148.208,-1704,NaN,NaN,NaN
3,NaN,NaN,156074,0,0,-2,2,0,2,1.0,...,2022-23,Rob Holding,DEF,7,4.3,10393.526,-52,NaN,NaN,NaN
4,0.0,0.0,167199,0,0,-2,2,0,3,0.0,...,2022-23,Thomas Partey,MID,7,4.8,31180.578,-295,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,NaN,NaN,461026,0,0,-1,1,0,3,-1.0,...,2022-23,Chem Campbell,MID,7,4.4,51967.630,-492,NaN,NaN,NaN
622,NaN,NaN,181284,0,0,0,0,0,3,2.0,...,2022-23,Goncalo Guedes,MID,7,6.0,51967.630,-747,NaN,NaN,NaN
623,NaN,NaN,465351,0,0,0,0,0,3,3.0,...,2022-23,Matheus Nunes,MID,7,5.0,31180.578,397,NaN,NaN,NaN
624,0.0,0.0,429414,0,0,0,0,0,4,0.0,...,2022-23,Sasa Kalajdzic,FWD,7,5.5,0.000,-361,NaN,NaN,NaN
625,NaN,NaN,18507,0,0,0,0,0,4,0.6,...,2022-23,Diego Da Silva Costa,FWD,7,5.5,10393.526,10668,NaN,NaN,NaN

In [6]:
player_names = projections.name.unique()

In [48]:
for my_name in player_names:
    my_id = latest_fpl.loc[latest_fpl.name==my_name, 'id'].values[0]
    projections.loc[projections.name==my_name, 'id'] = my_id
    projections['id'] = projections['id'].astype(int)
projections

,name,team,opp_team,was_home,gameweek,xP,std,id
0,Granit Xhaka,Arsenal,Brentford,0,8,2.628185,0.080331,3
1,Granit Xhaka,Arsenal,Tottenham,1,9,2.684030,0.190082,3
2,Granit Xhaka,Arsenal,Liverpool,1,10,2.558682,0.113725,3
3,Granit Xhaka,Arsenal,Leeds United,0,11,2.802852,0.132349,3
4,Granit Xhaka,Arsenal,Manchester City,1,12,2.425850,0.090341,3
...,...,...,...,...,...,...,...,...
4674,Sasa Kalajdzic,Wolves,Leicester City,1,13,2.826009,0.871261,608
4675,Sasa Kalajdzic,Wolves,Brentford,0,14,2.457500,0.589254,608
4676,Sasa Kalajdzic,Wolves,Brighton,1,15,2.668573,0.833091,608
4677,Sasa Kalajdzic,Wolves,Arsenal,1,16,2.532438,0.847797,608
4678,Sasa Kalajdzic,Wolves,Everton,0,17,2.807769,0.657468,608

In [96]:
my_columns = [f'{my_week}_Pts' for my_week in range(gameweek+1,gameweek+11)]
my_columns.append('ID')
data = []
for my_name in player_names:
    aux = projections[projections.name==my_name]
    new_data = []
    for my_week in range(gameweek+1,gameweek+11):
        if aux[aux['gameweek'] == my_week].shape[0]==1:
            new_data.append(aux.loc[aux['gameweek'] == my_week, 'xP'].values[0])
        else:
            new_data.append(0)
    my_id = aux['id'].unique()[0]
    new_data.append(my_id)
    data.append(new_data)

df = pd.DataFrame(data, columns=my_columns)
df

,8_Pts,9_Pts,10_Pts,11_Pts,12_Pts,13_Pts,14_Pts,15_Pts,16_Pts,17_Pts,ID
0,2.628185,2.684030,2.558682,2.802852,2.425850,3.027684,3.253410,2.531606,3.050011,3.110031,3
1,2.278628,2.309639,2.199842,2.441686,2.026310,2.585785,2.740712,2.189847,2.634918,2.658163,4
2,2.268401,2.251779,2.105830,2.456723,1.897371,2.715243,2.875504,2.130420,2.771092,2.727930,5
3,2.524030,2.523431,2.399310,2.688656,2.233301,2.932249,3.103871,2.387517,2.971030,2.988764,6
4,4.518935,3.916513,3.892331,4.966246,3.692537,5.032205,5.288689,3.948388,5.100679,4.966691,7
...,...,...,...,...,...,...,...,...,...,...,...
478,1.970807,2.919049,2.377173,3.404380,2.983421,3.029329,2.553183,2.716540,2.515922,3.189726,516
479,1.805853,2.337128,2.025366,2.632359,2.361867,2.415793,2.123107,2.238975,2.113932,2.488026,568
480,2.081361,2.555619,2.280398,2.811069,2.569203,2.627108,2.355018,2.481250,2.358914,2.675332,579
481,2.555057,3.235763,2.789373,3.697132,3.247180,3.407770,2.951453,3.092990,2.941629,3.469228,589
482,2.224092,2.659251,2.365413,3.031278,2.693728,2.826009,2.457500,2.668573,2.532438,2.807769,608

In [97]:
df.isnull().sum().sum()

0