In [1]:
import pandas as pd
import numpy as np
from pulp import LpMaximize, LpProblem, LpStatus, lpSum, LpVariable

In [2]:
gameweek = 4
# fetch FPL data
filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)
df

,adjusted points,adjusted points per game,assists,assists_week1,assists_week2,assists_week3,assists_week4,bonus,bonus_week1,bonus_week2,...,xG_week3,xG_week4,xPoints,xPoints week 1,xPoints week 2,xPoints week 3,xPoints week 4,xPoints_next10,yellow_cards,gameweek 14 prediction
id,,,,,,,,,,,,,,,,,,,,,
1,5.363298,1.787766,0,0.0,0.0,0.0,NaN,0,0.0,0.0,...,0.0,NaN,NaN,2.090127,2.220093,1.089483,NaN,42.117248,0,3.853406
2,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.479285,0,2.777746
3,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.931841,0,2.136439
4,12.500000,4.166667,0,NaN,0.0,0.0,0.0,3,NaN,0.0,...,0.0,1.3,10.5,NaN,1.000000,1.000000,10.5,40.270935,0,3.563631
5,2.663298,0.887766,0,NaN,0.0,0.0,0.0,0,NaN,0.0,...,0.0,0.0,1.0,NaN,1.520093,-0.910517,1.0,23.285783,1,1.681431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.445008,0,3.224416
547,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.413543,0,3.087295
548,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.413543,0,3.087295
549,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.327710,0,3.722161
583,7.200000,7.200000,0,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.783069,0,5.414806

In [3]:
df.columns.values

array(['adjusted points', 'adjusted points per game', 'assists',
       'assists_week1', 'assists_week2', 'assists_week3', 'assists_week4',
       'bonus', 'bonus_week1', 'bonus_week2', 'bonus_week3',
       'bonus_week4', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheet_points',
       'clean_sheets', 'cleansheet_week1', 'cleansheet_week2',
       'cleansheet_week3', 'cleansheet_week4', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'creativity_rank',
       'creativity_rank_type', 'direct_freekicks_order',
       'direct_freekicks_text', 'dreamteam_count', 'element_type',
       'ep_next', 'ep_this', 'event_points', 'first_name', 'form',
       'form 10', 'form 15', 'form 20', 'form 5', 'games played',
       'gameweek', 'gameweek 10 prediction', 'gameweek 11 prediction',
       'gameweek 12 prediction', 'gameweek 13 prediction',
       'gameweek 2 prediction', 'gameweek 3 prediction',
       'gameweek 4 prediction', 'gameweek 5 prediction',
       'gameweek 6 prediction', 'gameweek 7 prediction',
       'gameweek 8 prediction', 'gameweek 9 prediction', 'goals_conceded',
       'goals_scored', 'goals_week1', 'goals_week2', 'goals_week3',
       'goals_week4', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'now_cost', 'own_goals', 'penalties_missed',
       'penalties_order', 'penalties_saved', 'penalties_text', 'photo',
       'points_per_game', 'red_cards', 'saves', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'team_name', 'threat', 'threat_rank',
       'threat_rank_type', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value', 'value form 10', 'value form 5', 'valuePoints metric',
       'value_form', 'value_next10', 'value_season', 'web_name', 'xA',
       'xA_points', 'xA_week1', 'xA_week2', 'xA_week3', 'xA_week4', 'xG',
       'xG+xA', 'xG+xA per game', 'xGA_week1', 'xGA_week2', 'xGA_week3',
       'xGA_week4', 'xG_points', 'xG_week1', 'xG_week2', 'xG_week3',
       'xG_week4', 'xPoints', 'xPoints week 1', 'xPoints week 2',
       'xPoints week 3', 'xPoints week 4', 'xPoints_next10',
       'yellow_cards', 'gameweek 14 prediction'], dtype=object)

In [4]:
df = df[df['adjusted points per game'].notnull()]
df

,adjusted points,adjusted points per game,assists,assists_week1,assists_week2,assists_week3,assists_week4,bonus,bonus_week1,bonus_week2,...,xG_week3,xG_week4,xPoints,xPoints week 1,xPoints week 2,xPoints week 3,xPoints week 4,xPoints_next10,yellow_cards,gameweek 14 prediction
id,,,,,,,,,,,,,,,,,,,,,
1,5.363298,1.787766,0,0.0,0.0,0.0,NaN,0,0.0,0.0,...,0.0,NaN,NaN,2.090127,2.220093,1.089483,NaN,42.117248,0,3.853406
4,12.500000,4.166667,0,NaN,0.0,0.0,0.0,3,NaN,0.0,...,0.0,1.3,10.500000,NaN,1.000000,1.000000,10.500000,40.270935,0,3.563631
5,2.663298,0.887766,0,NaN,0.0,0.0,0.0,0,NaN,0.0,...,0.0,0.0,1.000000,NaN,1.520093,-0.910517,1.000000,23.285783,1,1.681431
6,1.000000,1.000000,0,NaN,NaN,0.0,NaN,0,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,1.000000,NaN,18.607223,0,1.433916
7,3.140824,1.046941,0,0.0,0.0,0.0,NaN,0,0.0,0.0,...,0.0,NaN,NaN,3.072532,2.055023,-2.000000,NaN,20.820041,0,1.720083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,3.000000,1.000000,0,0.0,0.0,0.0,NaN,0,0.0,0.0,...,0.0,NaN,NaN,1.000000,1.000000,1.000000,NaN,27.431228,0,3.056971
461,17.042815,4.260704,0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.6,0.2,4.418731,2.949329,4.323130,5.548812,4.418731,42.551547,0,4.575649
470,2.842815,2.842815,0,NaN,0.0,NaN,NaN,0,NaN,0.0,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,28.862550,0,3.052983
475,17.371260,4.342815,0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0.0,5.274923,4.797316,3.892521,4.195247,5.274923,43.806964,0,4.519599
583,7.200000,7.200000,0,NaN,NaN,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.783069,0,5.414806

In [80]:
df = df.drop(517)

In [99]:
# Create the model
model = LpProblem(name="FPL", sense=LpMaximize)

In [100]:
variables = [LpVariable(name=f'{ix}', cat='Binary') for ix in df.index]
#variables

In [101]:
prices = [df.loc[ix,'now_cost']/10.0 for ix in df.index]
#prices

In [102]:
# select 11 players
model += lpSum(variables) == 11

In [103]:
# set maximum price for starting 11
max_price = 81.6
model += np.dot(prices,variables) <= max_price

In [104]:
expected_points = [df.loc[ix,'adjusted points per game'] for ix in df.index]
#expected_points = [df.loc[ix,'xPoints_next10'] for ix in df.index]

#expected_points

In [105]:
# objective
# SHOULD ADD CAPTAIN'S DOUBLE POINTS TO THE OBJECTIVE
model += np.dot(expected_points,variables)

In [106]:
goalkeepers = [1.0 if df.loc[ix,'element_type']==1 else 0.0 for ix in df.index]
#goalkeepers

In [107]:
defenders = [1.0 if df.loc[ix,'element_type']==2 else 0.0 for ix in df.index]
#defenders

In [108]:
midfielders = [1.0 if df.loc[ix,'element_type']==3 else 0.0 for ix in df.index]
#midfielders

In [109]:
forwards = [1.0 if df.loc[ix,'element_type']==4 else 0.0 for ix in df.index]
#forwards

In [110]:
# only 1 goalkeeper
model += np.dot(goalkeepers,variables) == 1
# at least 3 defenders
model += np.dot(defenders,variables) >= 3
# at most 5 defenders
model += np.dot(defenders,variables) <= 5
# at most 5 midfielders
model += np.dot(midfielders,variables) <= 5
# at least 1 forward
model += np.dot(forwards,variables) >= 1
# at most 3 forwards
model += np.dot(forwards,variables) <= 3

In [111]:
#model

In [112]:
status = model.solve()

In [113]:
LpStatus[model.status]

'Optimal'

In [114]:
model.objective.value()

76.3302691631655

In [115]:
players = [int(str(var)) for var in model.variables() if var.value()==1]
players

[144, 177, 230, 233, 237, 256, 259, 262, 413, 555, 80]

In [116]:
dream_team = df.loc[players]
cost = (dream_team['now_cost']/10.0).sum()
exp_points = dream_team['adjusted points per game'].sum() + dream_team['adjusted points per game'].max()
print(f'Cost: {cost}')
print(f'Expected points per week: {exp_points}')
display(dream_team[['element_type','web_name','now_cost','games played','adjusted points per game']].sort_values('element_type'))

Cost: 81.3
Expected points per week: 85.14570691227665

,element_type,web_name,now_cost,games played,adjusted points per game
id,,,,,
80,1,Raya,46,4.0,4.687298
237,2,Alexander-Arnold,75,4.0,8.185251
256,2,Cancelo,60,4.0,6.768569
259,2,Laporte,56,3.0,6.084153
262,2,Dias,60,4.0,5.943569
555,2,Varane,55,2.0,5.994269
144,3,Gallagher,56,3.0,6.619700
230,3,Mané,119,4.0,7.717688
233,3,Salah,125,4.0,8.815438
177,4,Calvert-Lewin,82,3.0,8.513333
413,4,Antonio,79,4.0,7.001000

In [98]:
dream_team = df.loc[players]
cost = (dream_team['now_cost']/10.0).sum()
exp_points = dream_team['adjusted points per game'].sum() + dream_team['adjusted points per game'].max()
print(f'Cost: {cost}')
print(f'Expected points per week: {exp_points}')
display(dream_team[['element_type','web_name','now_cost','games played','adjusted points per game']].sort_values('element_type'))

Cost: 81.5
Expected points per week: 80.23898634948884

,element_type,web_name,now_cost,games played,adjusted points per game
id,,,,,
475,1,Sá,50,4.0,4.342815
142,2,James,56,3.0,5.152110
237,2,Alexander-Arnold,75,4.0,8.185251
431,2,Saïss,50,4.0,4.867815
437,2,Semedo,49,3.0,5.342815
144,3,Gallagher,56,3.0,6.619700
233,3,Salah,125,4.0,8.815438
240,3,Jota,77,4.0,5.049938
177,4,Calvert-Lewin,82,3.0,8.513333
413,4,Antonio,79,4.0,7.001000
529,4,Lukaku,116,3.0,7.533333